## Deliverable 2. Create a Customer Travel Destinations Map.

In [26]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [28]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Escondido,MX,15.8500,-97.0667,77.67,83,99,4.32,overcast clouds
1,1,East London,ZA,-33.0153,27.9116,57.79,59,93,3.11,overcast clouds
2,2,Poya,NC,-21.3500,165.1500,74.57,68,8,8.28,clear sky
3,3,Riyadh,SA,24.6877,46.7219,98.74,15,75,15.55,broken clouds
4,4,Hithadhoo,MV,-0.6000,73.0833,82.06,72,61,8.03,broken clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Escondido,MX,15.8500,-97.0667,77.67,83,99,4.32,overcast clouds
4,4,Hithadhoo,MV,-0.6000,73.0833,82.06,72,61,8.03,broken clouds
8,8,Ponta Do Sol,PT,32.6667,-17.1000,81.12,37,20,3.60,few clouds
10,10,Abu Samrah,SY,35.3029,37.1841,79.97,27,0,5.35,clear sky
11,11,Gouyave,GD,12.1646,-61.7296,79.02,80,57,10.13,broken clouds
12,12,Bethel,US,41.3712,-73.4140,79.63,79,0,0.00,clear sky
13,13,Dawei,MM,14.0833,98.2000,89.87,63,50,2.71,scattered clouds
19,19,Jalu,LY,29.0331,21.5482,79.16,30,0,7.99,clear sky
33,33,Kitaibaraki,JP,36.7833,140.7500,83.37,72,93,5.64,overcast clouds
37,37,Huilong,CN,31.8111,121.6550,88.93,77,58,11.95,broken clouds

In [8]:
# 4a. Determine if there are any empty rows.
print(len(preferred_cities_df))
preferred_cities_df.count()

226

City_ID                226
City                   226
Country                226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Current Description    226
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis="index", how="any")

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Escondido,MX,77.67,overcast clouds,15.8500,-97.0667,
4,Hithadhoo,MV,82.06,broken clouds,-0.6000,73.0833,
8,Ponta Do Sol,PT,81.12,few clouds,32.6667,-17.1000,
10,Abu Samrah,SY,79.97,clear sky,35.3029,37.1841,
11,Gouyave,GD,79.02,broken clouds,12.1646,-61.7296,
12,Bethel,US,79.63,clear sky,41.3712,-73.4140,
13,Dawei,MM,89.87,scattered clouds,14.0833,98.2000,
19,Jalu,LY,79.16,clear sky,29.0331,21.5482,
33,Kitaibaraki,JP,83.37,overcast clouds,36.7833,140.7500,
37,Huilong,CN,88.93,broken clouds,31.8111,121.6550,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head(5)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Escondido,MX,77.67,overcast clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
4,Hithadhoo,MV,82.06,broken clouds,-0.6000,73.0833,Scoop Guest House
8,Ponta Do Sol,PT,81.12,few clouds,32.6667,-17.1000,Hotel do Campo
11,Gouyave,GD,79.02,broken clouds,12.1646,-61.7296,Rumboat Retreat
12,Bethel,US,79.63,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury

In [23]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [24]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))